In [1]:
import pymysql

# Replace with updated details
# SSL was disabled so it can be run without certs
host_name = "discountmate-user-db.mysql.database.azure.com"
db_name = "mydb"
user_name = "DiscountMate_UserDB_Example"
password = "Parakeet2-Unpicked3-Stumbling4-Chatter5-Gathering4"

connection = None

try:
    connection = pymysql.connect(host=host_name, user=user_name, password=password, database=db_name)
    print("Connected to the database successfully")


    # Verify connected to correct database
    cursor = connection.cursor()

    cursor.execute("SHOW TABLES;")

    tables = cursor.fetchall()
    print("Existing tables in the database:")
    for table in tables:
        print(table[0])

    print("\nFetching records from UserDetails:")
    cursor.execute("SELECT * FROM UserDetails;")
    user_details = cursor.fetchall()
    
    if user_details:
        for user in user_details:
            print(user)
    else:
        print("No data found in UserDetails.")

except pymysql.MySQLError as e:
    print(f"Error connecting to MySQL Platform: {e}")
finally:
    if connection:
        connection.close()
        print("\nDatabase connection is closed")

Connected to the database successfully
Existing tables in the database:
itemrecommendation
prices
product
productcategory
productpricehistory
productpriceprediction
retailer
stock
storelocation
usercart
usercart_has_product
userdetails
userorder
userreviews

Fetching records from UserDetails:
(12345678, 'John Doe', 'john.doe@example.com', 'hash1', 'salt1', '61-205-121-456', '16 Flinders St, Melbourne VIC', '-37.814, 144.96332')
(23456789, 'Jane Smith', 'jane.smith@example.com', 'hash2', 'salt2', '61-430-293-457', '200 George St, Sydney NSW', '-33.8688, 151.2093')
(34567890, 'Alice Johnson', 'alice.johnson@example.com', 'hash3', 'salt3', '61-200-923-458', '53 Adelaide St, Brisbane QLD', '-27.4698, 153.0251')
(45678901, 'Bob Brown', 'bob.brown@example.com', 'hash4', 'salt4', '61-110-103-459', '9 King William St, Adelaide SA', '-34.9285, 138.6007')
(56789012, 'Carol White', 'carol.white@example.com', 'hash5', 'salt5', '61-665-623-460', '66 St Georges Tce, Perth WA', '-31.9505, 115.8605')
(67890123, 'David Wilson', 'david.wilson@example.com', 'hash6', 'salt6', '61-400-123-461', '40 Collins St, Melbourne VIC', '-37.8136, 144.9631')
(78901234, 'Eva Moore', 'eva.moore@example.com', 'hash7', 'salt7', '61-900-323-462', '7 Queen St, Brisbane QLD', '-27.4705, 153.0260')
(89012345, 'Frank Clark', 'frank.clark@example.com', 'hash8', 'salt8', '61-308-003-463', '84 Hay St, Perth WA', '-31.9523, 115.8613')
(90123456, 'Grace Lewis', 'grace.lewis@example.com', 'hash9', 'salt9', '61-000-955-764', '93 Pitt St, Sydney NSW', '-33.8675, 151.2070')
(91234567, 'Henry Turner', 'henry.turner@example.com', 'hash10', 'salt10', '61-040-113-465', '10 North Tce, Adelaide SA', '-34.9212, 138.6041')
(92345678, 'Irene Watson', 'irene.watson@example.com', 'hash11', 'salt11', '61-503-394-466', '110 Murray St, Perth WA', '-31.9535, 115.8575')
(93456789, 'Jake Harper', 'jake.harper@example.com', 'hash12', 'salt12', '61-377-449-667', '43 Elizabeth St, Melbourne VIC', '-37.8096, 144.9629')
(94567890, 'Laura Bennett', 'laura.bennett@example.com', 'hash13', 'salt13', '61-220-123-468', '6 Edward St, Brisbane QLD', '-27.4679, 153.0283')
(95678901, 'Mike Anderson', 'mike.anderson@example.com', 'hash14', 'salt14', '61-008-123-569', '12 King St, Sydney NSW', '-33.8682, 151.2093')
(95901234, 'Pam Lawson', 'pam.lawson@example.com', 'hash20', 'salt20', '61-330-594-075', '8 Stand St, Melbourne VIC', '-33.8679, 151.2073')
(96789012, 'Nora Charles', 'nora.charles@example.com', 'hash15', 'salt15', '61-950-120-470', '15 William St, Perth WA', '-31.9527, 115.8607')
(97190123, 'Cat Newton', 'cat.newton@example.com', 'hash18', 'salt18', '61-060-664-673', '2 Stones St, Melbourne VIC', '-34.9289, 138.6011')
(97890123, 'Oscar Newman', 'oscar.newman@example.com', 'hash16', 'salt16', '61-400-123-333', '100 Collins St, Melbourne VIC', '-37.8152, 144.9632')
(98901234, 'Paula Ivanov', 'paula.ivanov@example.com', 'hash17', 'salt17', '61-990-123-884', '170 Adelaide St, Perth WA', '-27.4668, 153.0265')
(99901234, 'Perry Thompson', 'paula.thompson@example.com', 'hash19', 'salt19', '61-570-123-974', '33 Bourke Rd, Brisbane QLD', '-31.9504, 115.8603')

Database connection is closed